<%# this file should have access to all the packs and show 5 packages %>
<% const numberOfPackages = 4 %>
<% for( let i = 0; i < numberOfPackages ;  i++ ) { %>




 <%# gets the first 64 words of the description %>
<% const sixtyWordDesc = packs[i].description.split(/\./i).slice(0, 3).join(". ").concat("..."); %>


  <li>
    <div class="package-card">
  
      <figure class="card-banner" loading="lazy">
        <img src="/assets/images/package1.jpg" alt= <%= packs[i].name %> loading="lazy" >
      </figure>
  
      <div class="card-content">
  
        <h3 class="h3 card-title"> <%= packs[i].name %> </h3>
  
        <p class="card-text">
         <%= sixtyWordDesc %>
        </p>
  
        <ul class="card-meta-list">
  
          <li class="card-meta-item">
            <div class="meta-box">
              <ion-icon name="time"></ion-icon>
  
              <p class="text">7D/6N</p>
            </div>
          </li>
  
          <li class="card-meta-item">
            <div class="meta-box">
              <ion-icon name="people"></ion-icon>
  
              <p class="text">pax: 10</p>
            </div>
          </li>
  
          <li class="card-meta-item">
            <div class="meta-box">
              <ion-icon name="location"></ion-icon>
  
              <p class="text"> <%= packs[i].location %> </p>
            </div>
          </li>
  
        </ul>
 
      </div>
  
      <div class="card-price">
  
     
        <p class="price">
          £ <%= packs[i].price %>
          <span>/ per person</span>
        </p>
  
         <a href = "bookingForm/<%= packs[i]._id %>"><button class="btn btn-secondary">Book Now</button></a>
  
      </div>
  
    </div>
  </li>




  <% } %>